<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Popular Secrets</title>
          {% load staticfiles %}
        <link rel="stylesheet" type = "text/css" href="{% static 'secrets/css/style.css' %}"> 
    </head>
    <body>
        <h1>Hello, {{request.session.first}}!</h1>
        <a href="http://localhost:8000/logout">Logout</a>
        <form action='process' method="post">
            {% csrf_token %}
            <input type="area" name="secret" height="75">
            <input type="submit" value="Post">
        </form>
        <h1>Popular Secrets...</h1>
        <a href="http://localhost:8000/secrets">Back to recent secrets</a>
        <ul>
        {% for secret in secrets %}
        <li>{{secret.secret}} {{secret.created_at}} {{secret.likecount}}
        {% if current_user in secret.like.all %}
        You have liked this secret

        {% else %}
        <a href="http://localhost:8000/like/pop/{{secret.id}}">Like</a>
        {% endif %}
        {% if current_user == secret.user %}
        You posted this <a href="http://localhost:8000/delete/pop/{{secret.id}}/">Delete</a>
        {% endif %}</li>
        {% endfor %}
        </ul>
    </body>